*{
   padding: 0;
	outline: none;
	margin: 0;
}



html, body {
    overflow-x: hidden;
    height: 100%;

}
body{height: 100%;
	font: 14px/18px 'Times New Roman', Times, sans-serif;
	background-color: #FFF;
}
ol, ul{list-style: none;}

a, a:hover{text-decoration: none;}


.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix{ clear: both;}
.left{float: left;}
.right{float: right;}




.logo{
	float: left;
	margin-top: 53px;
}
.logo img {
	margin-left: 20px;
	margin-bottom: 7px;
	
}
.logo a{ font-size: 24px; font-weight: 900; color: white;}
#numb {font-size: 14px; font-weight: 400;margin-left: 7px;}

.menu{
	float: right;
	margin-top: 40px;
}

.menu li {
	float: left;
	margin-right: 40px;
}

.menu li:last-child{
	margin-right: 0;
}

.btn-flat{
	margin-right: 10px;
	
}


.menu a{
	text-transform:  uppercase;
	font: 14px Arial, sans-serif;
	color: #fff;
}

#act{ font-size: 15px; font-weight: 700;}










.wrapper{
	height: auto;
	background: #222 url(../img/back2.jpg) no-repeat center bottom;
	 width: 100%;
    background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	padding-bottom: 35px;
}


.fontpage{
	width: 100%;
	margin-top: 210px;
}




.fontpage h1 {
	color: white;
}

@media all and (min-width: 200px) {
  
  .fontpage h1 {
    font-size: 35px;
  }
	.menu{
		margin-top: 5px;
	}
}
@media all and (min-width: 300px) {
  
  .fontpage h1 {
    font-size: 40px;
  }
	.menu{
		margin-top: 10px;
	}
}
@media all and (min-width: 500px) {
  
  .fontpage h1 {
    font-size: 55px;
  }
}
@media all and (min-width: 600px) {
  
  .fontpage h1 {
    font-size: 55px;
  }
}
@media all and (min-width: 700px) {
  
  .fontpage h1 {
    font-size: 60px;
  }
	.menu{
		margin-top: 40px;
	}
}
@media all and (min-width: 800px) {
  .fontpage h1 {
    font-size: 65px;
  }
	.menu{
		margin-top: 40px;
	}
}
@media all and (min-width: 960px) {
  .fontpage h1 {
    font-size: 70px;
  }
	.menu{
		margin-top: 40px;
	}
}








.fontpage p{
	font-size: 18px;
	color: white;
}

.btn-outline-success {
	background-color: #6fb048;
	color: white;
	font-weight: 600;
	height: 50px;
	width: 175px;
}



.secondPart{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
.secondPart h1{ color:#696969;}
.secondPart p {font-size: 18px; color:#808080;}


.logoSectTw{
	
	margin-top: 70px;
} 

.secondPart h3{
	color:#696969;
	font-size: 22px;
	font-weight: 600;
}
.secondPart p{
	font-size: 18px; color:#808080;
	
}


.ThreePart{
	margin-top: 150px;
	text-align: left;
	margin-bottom: 50px;
	
}



.ThreePart h5{
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	 color:#696969;
	margin-left: 7px;
	
}




.FourPart {
	
	background-color: #eef1ec;
	height: auto;
	text-align: center;
	
	
	
} 

.FourPart h1{
	margin-top: 100px;
	color:#696969;
	font-size: 50px; 
}
.FourPart p{
	
	font-size: 18px; color:#808080;
	margin-bottom: 30px;
	margin-bottom: 100px;
	
}

.FourPart h5{
	color:#696969;
	font-size: 22px;
	font-weight: 600;
	text-align: left;
	
}


.FourPart h4{
	text-align: left;
	font-size: 18px; color:#808080;
	margin-bottom: 30px;
	
}



#butTw{
	
	background-color: #00BFFF;
}
#btnn{
	text-align: left;
}


.fivePart{
	margin-top: 140px;
	margin-bottom: 140px;
	text-align: center;
	height: auto;
}

.fivePart p{
	text-align: left;
	font-size: 24px; color:#808080;
}

.fivePart h5{
	text-align: left;
	font-size: 18px;
	color: chocolate;
}

.fivePart h4{
	text-align: left;
	font-size: 18px;
	color:#808080;
	
}

.sixPart{
	background-color: #eef1ec;
	height: auto;
	text-align: left;
	padding-top: 140px;
	padding-bottom: 140px;
	padding-top: 50px;
	
	
	
}

.sixPart h1{
	color:#696969;
	font-size: 30px; 
	font-weight: 600;
	
	text-align: left;
	
}

.sixPart p{
	text-align: left;
	font-size: 18px; color:#808080;
}



.sevenPart {
	padding-top: 140px;
	padding-bottom: 140px;
	color:#696969;
	font-size: 50px;
	text-align: center;
}

.sevenPart p{
	font-size: 18px; color:#808080;
	padding-bottom: 70px;
}

.sevenPart h5{
	font-size: 18px;
	color: chocolate;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 600;
}


.sevenPart h4{
	padding-bottom: 30px;
	font-size: 70px;
	color:#808080;
	font-weight: 800;
	padding-bottom: 10px;
	
}
.sevenPart h3 {
	font-size: 18px;
	color: #808080;
	text-align: center;
	padding-bottom: 30px;
}


#cost{
	border: 1px #808080 solid;
	padding-bottom: 40px;
	
}

.eightPart{
	padding-top: 30px;
	padding-bottom: 70px;
	height: auto;
	text-align: center;
}
.zagol {
	text-align: center;
}

.zagol h1{
	color:#696969;
	font-size: 60px; 
	font-weight: 600;
	
}
.zagol p{
	font-size: 18px; color:#808080;
	
}
#bol{
	margin-top: 40px;
}

.eightPart h4{
	font-size: 33px;
	color: chocolate;
	font-weight: 500;
	
}
.eightPart p{
	font-size: 18px; color:#808080;
	
}
.eightPart h3{
	font-size: 20px;
	font-weight: 500;
}

.dewnloadPart{
	height:auto;
	background-image: url(../img/555.jpg);
	 background-size: cover;
    background-attachment: fixed;
	text-align:center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dewnloadPart h1{
	color:#696969;
	font-size: 30px; 
	font-weight: 600;
	
}

.dewnloadPart p{
	font-size: 18px; color:#808080;
}
.footer{
	height: auto;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
	
}
.footer a{font-size: 24px; font-weight: 900; color: #696969;}
#contact {height: 50px;width: 59px;text-align: center; }
.footer p{
	padding-top: 20px;
	font-weight: 500;
	font-size: 15px;
	
}
.contact {text-align: left;}


#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
padding: 15px 10px 10px; /* отступы */

border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
left: 10px; /* отступ слева */
bottom: 10px; /* отступ снизу */

cursor: pointer;
	z-index: 9999;
	display: none;
}

